/* --------- MOBILE FIRST --------- */

/* tilbage knap */
.back-btn {
  display: inline-block;
  margin-block: 1rem 2rem;
  font-size: 1rem;
  font-weight: 100;
  color: var(--color-red);
}

/* --------- hero sektionen --------- */
.offer-hero {
  position: relative;
  margin-bottom: 3rem;
}
.offer-hero img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 3rem;
}

/* boksen som laver bukket ind på billedet */
.name-box {
  position: absolute;
  right: -1px;
  bottom: -1px;
  background: var(--color-bg-primary);
  padding: 1rem 1.3rem;
  border-top-left-radius: 2rem;
  z-index: 2;
}
.name-box h2 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
}

/* -------- TEXT -------- */

.offer-text h1 {
  font-size: 32px;
  margin-bottom: 1rem;
  font-weight: 700;
}

.offer-text h2 {
  font-size: 30px;
  margin-bottom: 1rem;
  font-weight: 700;
}

.offer-text p {
  font-size: 1.05rem;
  line-height: 1.7;
  margin-bottom: 1.5rem;
}

/* --- grid med billedet på mobil og tablet --- */
.img2-mobile {
  margin-block: 2rem;
}

.img2-mobile img {
  width: 100%;
  border-radius: 2rem;
  object-fit: cover;
}

/* desktop image grid = skjult */
.img2-desktop {
  display: none;
}

/* -- fordele og pris --- */
.fordele-list {
  padding-left: 1.2rem;
  margin-bottom: 2rem;
}

.fordele-list li {
  margin-bottom: 0.6rem;
  line-height: 1.6;
}

.pris {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}
.pris strong {
  font-weight: 700;
}

/* -------- indløs tilbud - KNAP -------- */

.red-cta {
  display: flex;
  margin-inline: auto;
  margin-bottom: 2rem;
}

/* når vi handler sammen svg */

.logo-sammen {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.logo-sammen img {
  width: 4.5rem;
  height: auto;
}

.logo-sammen p {
  font-size: 1.35rem;
  line-height: 1.2;
  margin: 0;
}

/* --------- TABLET --------- */

@media (min-width: 768px) {
  /* --- hero --- */
  .offer-hero img {
    height: 420px;
  }
  /* boksen som laver bukket ind på billedet */
  .name-box {
    padding: 1rem 2.5rem;
  }
  .name-box h2 br {
    display: none;
  }
  /* -------- text -------- */
  .name-box h2 {
    font-size: 1.3rem;
  }
  .offer-text h1 {
    font-size: 2.5rem;
  }

  .offer-text h2 {
    font-size: 2.2rem;
  }
  /* --- billede 2 --- */
  .img2-mobile {
    display: flex;

    justify-content: center;
  }
  .img2-mobile img {
    width: 70%;
    object-fit: cover;
  }
}

/* --------- DESKTOP --------- */

@media (min-width: 1024px) {
  .page-content {
    max-width: 1100px;
    margin: 0 auto;
    padding-inline: 1px;
  }
  /* --- hero --- */
  .offer-hero img {
    height: 500px;
  }

  .name-box {
    padding: 2rem 4rem;
  }

  .name-box h2 {
    font-size: 2rem;
    white-space: nowrap;
  }
  .name-box h2 br {
    display: none;
  }
  /* --- Grid i desktop --- */
  .offer-text {
    display: grid;
    grid-template-columns: 1fr 480px;
    align-items: start;
  }
  /* billede til højre */
  .img2-desktop {
    display: block;
  }

  .img2-desktop img {
    width: 100%;
    height: 650px;
    object-fit: cover;
    border-radius: 2rem;
  }
  /* mobil billede = skjult */

  .img2-mobile {
    display: none;
  }

  /* -------- TEXT -------- */

  .offer-text h1 {
    font-size: 48px;
  }

  .offer-text h2 {
    font-size: 1.3rem;
  }

  .offer-text p {
    max-width: 60ch;
  }

  /* -------- PRICE -------- */

  .pris {
    justify-content: flex-start;
    font-size: 1.3rem;
  }

  .red-cta {
    margin-inline: 0;
    margin-bottom: 0;
  }

  .logo-sammen {
    margin: 0;
  }

  .logo-sammen img {
    width: 4.25rem;
  }

  .logo-sammen p {
    font-size: 1.25rem;
  }
  .cta-row {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
