/* --------- MOBILE FIRST ---------*/
/* ------ hero ---------- */
.hero-container {
  position: relative;
  border-radius: var(--radius-medium);
  overflow: hidden;
  margin-bottom: 2rem;
}
.hero-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.hero-header {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  padding: 1.2rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0));
}
/* ---------------- TEKST ---------------- */

.hero-header h1 {
  color: var(--color-text-secondary);
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
}

.text h2,
.points-section h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.08;
  margin-bottom: 1rem;
}

.text p,
.points-section p {
  font-size: 1.05rem;
  line-height: 1.7;
  margin-bottom: 2rem;
}
/* ------ billede ------ */

.kids-img {
  margin-bottom: 1rem;
}

.kids-img img {
  width: 100%;
  border-radius: var(--radius-medium);
  object-fit: cover;
  height: 450px;
}

/* ------ når vi handler sammen svg  ------ */
.logo-sammen {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.logo-sammen img {
  width: 4.5rem;
  height: auto;
}

.logo-sammen p {
  font-size: 1.35rem;
  line-height: 1.2;
}

/* ------ point ------ */

.points-section h2 {
  margin-bottom: 1rem;
  line-height: 1.3;
}

.points-section span {
  color: var(--color-red);
}

.points-section p {
  margin-bottom: 1rem;
}
/*  gør så tal ligger på lige linje  */
.points-text,
.points-section span {
  font-variant-numeric: tabular-nums lining-nums;
}
/* --------- TABLET ---------*/
@media (min-width: 768px) {
  .hero-img {
    height: 320px;
  }

  .hero-header {
    padding: 2rem;
  }
  /* ---------------- TEKST ---------------- */

  .hero-header h1 {
    font-size: 42px;
  }

  .text h2,
  .points-section h2 {
    font-size: 34px;
  }

  .text p,
  .points-section p {
    font-size: 17px;
  }

  .kids-img img {
    max-width: 350px;

    margin-inline: auto;
  }

  /* Point sektion */

  .points-section {
    max-width: 80%;
    margin-inline: auto;

    text-align: center;
  }
}

/* --------- DESKTOP ---------*/
@media (min-width: 1024px) {
  .hero-container {
    margin-bottom: 6rem;
  }

  .hero-img {
    height: 500px;
  }

  .hero-header {
    padding: 3rem;
  }

  .hero-header h1 {
    font-size: 42px;
  }

  /* Layout sektion */

  .text-and-image {
    display: grid;
    grid-template-columns: 1fr 420px;
    gap: 5rem;
    align-items: center;
    margin-bottom: 0.1rem;
  }

  /* Tekst */

  .hero-header h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
  }

  .text h2,
  .points-section h2 {
    font-size: 2.5rem;
    line-height: 1.08;
    margin-bottom: 1.5rem;
  }

  .text p,
  .points-section p {
    font-size: 1.1rem;
    line-height: 1.72;
    max-width: 60ch;
    margin-bottom: 1.5rem;
  }

  /* Billede */

  .kids-img {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
  }

  .kids-img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  /* SVG */
  .text:last-child p {
    margin-bottom: 0.5rem;
  }
  .logo-sammen-offer {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .logo-sammen img {
    width: 4.25rem;
  }
  .logo-sammen p {
    font-size: 1.25rem;
  }

  /* Point sektion */

  .points-section {
    max-width: 700px;
    margin-top: 5rem;
    margin-inline: 0;
    text-align: left;
  }

  .points-section h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .points-section p {
    max-width: 65ch;
  }
}
/* ------------------------   CARDS  ------------------------ */

.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding-block: 2rem;
}

/* -------- CARD -------- */

.card {
  position: relative;
  min-height: 420px;
  border-radius: 2rem;
  overflow: hidden;
  background: var(--color-dark);
}
.img-offer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --- navn øverst i højre hjørne --- */
.name-text {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 3;
  color: var(--color-text-secondary);
  opacity: 0.5;
  font-size: 0.9rem;
  font-weight: 700;
}

/* --- boksen med navn og point i (med bukket i) --- */

.upper-part-box {
  position: absolute;
  top: -60px;
  right: 0;
  width: 200px;
  background: var(--color-dark);
  padding: 1rem;
  border-top-left-radius: 2.8rem; /*bukket*/
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 2rem;
}
/* --- boksen under med knappen på --- */

.lower-part-box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-dark);
  padding: 2rem;
  padding-top: 1rem;
  min-height: 10px;
  z-index: 2;
}

/* --- billetten --- */

.billet-text {
  color: var(--color-text-secondary);
  font-size: 1.2rem;
  font-weight: 800;
}

/* --- point --- */

.points-text {
  color: var(--color-text-secondary);
  font-size: 1rem;
  font-weight: 100;
}

/* --- se mere knap --- */

.offer-btn {
  width: 100%;
  padding-block: 1rem;
  margin-top: 1rem;
  font-size: 1rem;
}
.link-to-offer {
  text-decoration: none;
}

/* -------- TABLET/DESKTOP -------- */

@media (min-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
  .upper-part-box {
    width: 220px;
  }
  /* --- font størrelse --- */

  .billet-text {
    font-size: 1.3rem;
  }
  .points-text {
    font-size: 1.1rem;
  }
  .offer-btn {
    font-size: 1.2rem;
  }
}
/* -------- DESKTOP -------- */
@media (min-width: 1024px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
  .card {
    min-height: 620px;
    border-radius: 3rem;
  }
  .name-text {
    font-size: 1.2rem;
    font-weight: 700;
    top: 1.5rem;
    right: 2rem;
  }
  .upper-part-box {
    width: 320px;
    padding: 1rem;
    top: -90px;
    border-top-left-radius: 5rem; /*bukket*/
    padding-left: 2rem;
  }

  .billet-text {
    font-size: 1.7rem;
    margin-bottom: 0.2rem;
  }
  .points-text {
    font-size: 1.5rem;
  }
  /* --- se mere knap --- */
  .offer-btn {
    width: 100%;
    padding-block: 1.1rem;
    margin-top: 1rem;
    font-size: 1.3rem;
  }
}
